*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: "myfont";
    src: url("../customfont.otf");
}
body{
 font-family: "myfont";
}

#container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

#sidebar{
    width: 20%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* border-right: 0.5rem solid black; */
}

#sidebar-headers{
    /* background-color: blue; */
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}

#mylist-heading{
    /* background-color: brown; */
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
}

#lists{
    display: flex;
    /* background-color: pink; */
    flex-grow: 1;
}

#newlist{
    /* background-color: blueviolet; */
    border-top: 3px solid black;
    flex-grow: 0.03;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* overflow:hidden; */
}


#maincontent{
    width: 80%;
    display: flex;
    flex-direction: column;
}

#tasksheading{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 60px;
}

#tasks{
    flex-grow: 1;
    background-color: rgb(2, 2, 2);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#newtask{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: black;
}
